.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-bottom: 30px solid cornflowerblue;
  margin-bottom: 7rem;
  /* background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 55%, #FFBAC3 100%); */
}
.h1 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: cornflowerblue;
}

.list-wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
  position: relative;
  height: 100%;
}

.wishlist {
  font-size: 3rem;
}

.nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navList {
  font-size: 2rem;
  padding-left: 3rem;
}

.navList:hover {
  color: cornflowerblue;
  font-weight: 900;
  
}

.mobileNav {
  display: none;
}



@media screen and (max-width: 1200px) {
  .nav {
    display: none;
  }
  .mobileNav {
    display: flex;
  }
  .navIcons {
    display: none;
  }
}




