@value cGreen: #0FA958;
@value cBlue: #4939FF;
@value cOrange: #FF9A62;
@value cGrey: #3b3b3b;


/*admin*/

.welcome {
  color: cBlue;
  font-size: 3rem;
  font-weight: 400;
  padding-left: 2rem;
}

.flexbox {
  display: flex;
}

.flexitem1 {
  flex-basis: 20%;
}
.flexitem2 {
  margin-top: 5rem;;
  flex-basis: 70%;
}

/*product page(/product)*/

.product_heading {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin: 3.5rem 0;
  color: cOrange;
  text-shadow: 1px 1px 5px lightgray; 
}

.card_container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
}

/*shopping cart page(/cart)*/

.cart_container {
  max-width: 80%;
  margin: 5rem  auto;
}

.heading_shopping_cart {
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5rem;
}

/*product detail page(/product/[id])*/

.product_detail_container {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  gap: 12rem;
  margin: 5rem auto;
  position: relative;

}
.image_wrrapper {
  flex-basis: 30%;
  margin: 0;
  width: 30rem;
}
.flexitem_section {
  flex-basis: 50%;
  padding-left: 2rem;
  padding-right: 2rem;  
}

.propduct_detail_img {
  width: 100%;
  height: 60vh;
  object-fit: cover;  
}

.product_detail_title {
  width: 100%;
  font-size: 3.5rem;
  padding: 1rem;
}

.product_detail_sell_price {
  width: 30%;
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 5rem;;

}

.quantityLabel {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.input {
  margin-left: 1rem;;
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 3rem;
}

.btn_wrapper {
  width: 40%;
  margin-left: 1rem;

}

.btn {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  line-height: 3rem;
  background: linear-gradient(to left, rgb(240, 178, 62), rgb(255, 145, 0), rgb(255, 112, 3));
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 5rem;
}

.btn:hover {
  box-shadow: 2px 2px rgb(165, 74, 5);
  transform: scale(102%);
}

.product_detail_summary,
.product_detail_spec {
  font-size: 1.6rem;
  font-weight: 900;
  padding-left: 1rem;
}

.product_detail_text {
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

.link {
  display: inline-block;
  width: 80%;
  font-size: 1.5rem;
  color: blue;
  position: absolute;
  bottom: 1rem; 
  left: 1rem;
}

.link:hover {
  text-decoration: underline;
  text-shadow: 1px 0 blue;
}

/*checkout*/

.main_flexbox {
  display: flex;
}

.checkout_side {
  flex-basis: 40%;
}

.checkout_section {
  flex-basis: 50%;
}

