@value cGreen: #0FA958;
@value cBlue: #4939FF;
@value cOrange: #FF9A62;
@value cGrey: #3b3b3b;

/*landing page(/)*/

.container_lp {
  display: flex;
  position: relative;
}

.h1_wrapper {
  display: flex;
  position: absolute;
  top: 4rem;
  right: 8rem;
  z-index: 2;
  padding: 5rem;
}

.h1 {
  color: cornflowerblue;
  letter-spacing: 0.5rem;
  font-size: 5rem;
  padding-left: 2rem;
}
.nav_section {
  width: 5%;
  height: 100vh;
  background-color: cornflowerblue;
  text-align: center;
  padding-left: 2.5rem;
}

.main_img_section {
  width: 95%;
}
.main_img {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: grayscale(40%)
}

.mobileNav {
  display: none;
}

@media screen and (max-width:1650px){
  .nav_section {
    width: 7%;
    padding-left: 3.5rem;
  }
}

@media screen and (max-width:1420px){
  .nav_section {
    width: 7%;
    padding-left: 2.5rem;
  }
}
@media screen and (max-width:1024px){
  .h1_wrapper {
    height: 15vh;
    top: 4rem;
    left: 2rem;
  }
  .container_lp {
    display: block;
    position: static;
  }
  
  .h1_wrapper {
    width: 100%;
    position: static;
    padding: 2rem;
    /* background-color: blue; */
  }
  .main_img_section {
    width: 100%;
    margin-top: 15vh;
  }
  .main_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: grayscale(40%)
  }
  .nav_section {
    display: none;
  }
  .main_img_section {
    width: 100%;
  }
  .mobileNav {
    display: inline-block;
    position: absolute;
    /* top: 10rem; */
    right: 0;
  }
  
}


/*admin*/

.welcome {
  color: cBlue;
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 1px 1px 3px #999999;
  padding-left: 4rem;
}

.flexbox {
  display: flex;
}

.flexitem1 {
  flex-basis: 20%;
}
.flexitem2 {
  margin-top: 5rem;;
  flex-basis: 70%;
}

/*product page(/product)*/

.product_heading {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin: 3.5rem 0;
  color: cOrange;
  text-shadow: 1px 1px 5px lightgray; 
}

.card_container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
}


/*shopping cart page(/cart)*/

.cart_container {
  max-width: 80%;
  height: 120vh;
  margin: 5rem  auto;
}

.heading_shopping_cart {
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5rem;
  color: #999999;
}

/*product detail page(/product/[id])*/

.product_detail_container {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  gap: 12rem;
  margin: 5rem auto;
  position: relative;

}
.image_wrrapper {
  flex-basis: 30%;
  margin: 2rem 0;
  width: 40rem;
}
.flexitem_section {
  flex-basis: 50%;
  padding-left: 2rem;
  padding-right: 2rem;  
}

.propduct_detail_img {
  width: 100%;
  object-fit: cover;  
}

.product_detail_title {
  width: 100%;
  font-size: 3.5rem;
  padding: 1rem;
}

.product_detail_sell_price {
  width: 30%;
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 5rem;;
}

.quantityLabel {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.input {
  margin-left: 1rem;;
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 3rem;
}

.btn_wrapper {
  width: 40%;
  margin-left: 1rem;

}

.btn {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  line-height: 3rem;
  background: linear-gradient(to left, rgb(240, 178, 62), rgb(255, 145, 0), rgb(255, 112, 3));
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 5rem;
}

.btn:hover {
  box-shadow: 2px 2px rgb(165, 74, 5);
  transform: scale(102%);
}

.product_detail_summary,
.product_detail_spec {
  font-size: 1.6rem;
  font-weight: 900;
  padding-left: 1rem;
}

.product_detail_text {
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

.link {
  display: inline-block;
  width: 80%;
  font-size: 1.5rem;
  color: blue;
  position: absolute;
  bottom: 1rem; 
  left: 1rem;
}

.link:hover {
  text-decoration: underline;
  text-shadow: 1px 0 blue;
}

@media screen and (max-width: 1024px){
  .product_detail_container {
    width: 70%;
    display: block;
    flex-flow: row wrap;
    gap: 12rem;
    margin: 5rem auto;
    position: relative;
  }

  .image_wrrapper {
    width: 100%;
    text-align: center;
  }

  .propduct_detail_img {
    width: 90%;
  }

  .flexitem_section {
    width: 100%;
  }

  .product_detail_title {
    width: 60%;
    display: inline-block;
  }

  .product_detail_sell_price {
    width: 40%;
    display: inline-block;
    text-align: right;
  }

  .btn_wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .link {
    display: block;
    position: static;
    margin-left: 3rem;
  } 
}

/*checkout page(/checkout) & payment page(/payment)*/

.div_flexbox {
  display: flex;
  height: 100%;
}
.order_confirmation {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 4rem 0;
  margin-bottom: 2rem;
}

.checkout_side {
  background-color: aliceblue;
  height: 100vh;
  flex-basis: 35%;
  padding-left: 4rem;
}

.checkout_section {
  flex-basis: 50%;
}

.total {
  font-size: 2.5rem;
  margin-top: 5rem;
  margin-right: 5rem;
  text-align: right;
}
.amount {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-right: 5rem;
  text-align: right;
}

.link_to_cart {
  display: inline-block;
  width: 80%;
  font-size: 1.5rem;
  color: blue;
  position: absolute;
  bottom: 10%; 
  left: 3%;
}

.link_to_cart:hover {
  text-decoration: underline;
  text-shadow: 1px 0 blue;
}


@media screen and (max-width: 1024px){
  .div_flexbox {
    flex-direction: column;
  }
  .order_confirmation {
    text-align: center;
  }
  .checkout_side {
    background-color: aliceblue;
    height: 100vh;
    flex-basis: 35%;
    padding-bottom: 4rem;
  }
  .link_to_cart {
    display: block;
    position: static;
    margin-left: 15%;
    margin-bottom: 10%;
  }
}

/*thank you page(/thankyou)*/

.main_thank_you {
  width: 50%;
  margin: 10vh auto;
  text-align: center;
  height: 100vh;
}

.title_thank_you {
  font-size: 5rem;
  color: cOrange;
  margin-bottom: 3rem;

}
.text_thank_you {
  font-size: 2rem;
  color: cOrange;
  margin-bottom: 2rem;
}

.link_thank_you {
  display:block;
  padding-top: 8rem;
  font-size: 1.8rem;
  color: blue;
}

.link_thank_you:hover {
  text-decoration: underline;
}